/* AuthPage.scss */
@use "../assets/scss/variables" as *;
@use "../assets/scss/mixins" as *;

.auth-page {
  width: 100%;
  max-width: 360px;
  height: 100vh;
  margin: 0 auto;
  padding-top: 100px;
  min-height: calc(100vh - 60px);
  background: $color-real-white;
  font-size: 16px;

  @include flex-layout(column, flex-start, center, 0);

  h2 {
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: 800;
    color: $color-black;
  }

  .form {
    width: 100%;

    .inputData {
      @include flex-layout(row, flex-start, center, 20px);
      margin-bottom: 16px;

      label {
        width: 70px;
        font-size: 16px;
        font-weight: 600;
        color: $color-black;
      }

      input {
        // flex: 1;
        width: 311px;
        height: 42px;
        padding: 0 14px;
        border-radius: 6px;
        border: none;
        outline: none;
        background: rgba($color-bbb, 0.25);
        color: $color-black;
        font-size: 16px;

        &::placeholder {
          color: rgba($color-555, 0.6);
          font-size: 16px;
        }
      }
    }

    .btn-wrap {
      height: 90px;
      margin-top: 90px;
      @include flex-layout(column, space-between, center, 16px);
      .submit-btn {
        width: 100%;
        font-size: 16px;
        font-weight: 600;

        @include btn-theme(
          $color-black,
          $color-btn,
          $color-real-white,
          $color-black
        );

        //화면 꽉 채우려면 override 필요
        width: 100%;
        max-width: 360px;
        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
    }
  }

  .social-login {
      width: 100%;
      margin-top: 100px;
      @include flex-layout(row, space-around, center, 1.5rem);
      transition: 0.3s;
      img {
        width: 45px;
        cursor: pointer;
        transition: 0.3s;


        &:hover {
          transform: scale(1.2);
        }
      }
    }
}
