@use "../../../assets/scss/variables" as *;
@use "../../../assets/scss/fonts" as *;
@use "../../../assets/scss/mixins" as *;

#clock {
  width: 100%;
  height: 80px;
  margin: 1rem 0;
  padding: 1rem;
  background-color: $color-btn;
  border-radius: 1rem;
  @include flex-layout($dir:column);
  .in-time, .out-time {
    width: 100%;
    height: inherit;
    @include flex-layout($just:space-between);
    p {
      color: $color-main;
      @include caption-r
    }
    span {
      display: none;
    }
    .react-datepicker {
      background-color: #fff;
    }
  }
}